body {
  font-size: 17px;
  min-width: 600px;
}
.inner {
  max-width: 920px;
  margin: 0 auto;
  padding: 30px 10px 30px 10px;
  background: #ffffff;
}
input {
  box-sizing: border-box;
  padding: 7px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 30px;
}
textarea:focus,
input:focus {
  outline: none;
  border-color: #747474;
}
fieldset.formset {
  margin-bottom: 20px;
  padding: 20px 40px;
  border-radius: 5px;
}
fieldset.formset legend {
  font-size: 19px;
}
fieldset.formset label {
  display: block;
}
fieldset.form-record__private {
  background: #f6f6d5;
}
fieldset.form-record__private > label {
  display: block;
  margin-bottom: 10px;
}
fieldset.form-record__private textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  min-height: 180px;
  border-radius: 10px;
}
fieldset.form-record__private > label,
fieldset.form-record__private > section {
  margin-bottom: 20px;
}
fieldset.form-record__private input {
  margin-left: 10px;
}
.stars {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}
.stars input {
  display: none;
}
.stars label {
  width: 20%;
  height: 50px;
  background: url("../graph/img/CH-Zusatztafel-Mountain-Bike.svg") no-repeat center center;
  opacity: 0.35;
  background-size: 40px;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.stars input[value="1"],
.stars input[value="1"] + label {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.stars input[value="2"],
.stars input[value="2"] + label {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.stars input[value="3"],
.stars input[value="3"] + label {
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
.stars input[value="4"],
.stars input[value="4"] + label {
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
}
.stars input[value="5"],
.stars input[value="5"] + label {
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}
.stars input:checked ~ label {
  opacity: 1;
}
.stars label:hover,
.stars label:hover ~ label {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.stars__title {
  display: block;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin-bottom: 10px;
}
.range {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
}
.range__title {
  text-align: center;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 10px;
}
.range__bar {
  width: 300px;
  height: 25px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: lightgrey;
  border-radius: 15px;
  margin-right: 15px;
}
.range__fill {
  position: relative;
  width: 0%;
  height: 100%;
  background: #b3ffff;
  border-radius: 15px;
}
.range__toggle {
  position: absolute;
  top: calc(50% - 14px);
  left: 0;
  width: 12px;
  height: 12px;
  border: 8px solid #1a53ff;
  border-radius: 50%;
  background: #b3ffff;
  cursor: pointer;
}
.range__output {
  width: 75px;
  text-align: center;
}
.form-record__photo {
  background: #f6f6d5;
}
.form-record__photo input {
  margin-left: 10px;
}
.form-record__photo label {
  margin-bottom: 20px;
}
.form-record__photo-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  min-height: 150px;
  background: white;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
.form-record__photo-container .preview-container {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 140px;
  margin: 0 15px 15px 15px;
}
.form-record__photo-container div.photo-wide {
  width: 160px;
  height: 110px;
}
.form-record__photo-container div.photo-square {
  width: 140px;
  height: 150px;
}
.form-record__photo-container div.photo-tall {
  width: 110px;
  height: 150px;
}
.form-record__photo-container img {
  width: 100%;
  height: 100%;
}
.form-record__photo-container .close-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.3s;
}
.form-record__photo-container .close-btn:hover {
  background: rgba(255, 255, 255, 0.8);
}
.form-record__photo-container .close-btn:after,
.form-record__photo-container .close-btn:before {
  content: "";
  position: absolute;
  left: 2px;
  width: 29px;
  height: 4px;
  background: #000;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.form-record__photo-container .close-btn:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form-record__photo-container .close-btn:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.form-record__coords {
  background: #f6f6d5;
}
.form-record__coords .google-map {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-record__coords .google-map__map {
  border: 1px solid #c1c1c1;
  width: 70%;
  margin-right: 25px;
  min-height: 300px;
  background: grey;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.form-record__coords .google-map__coord-title {
  margin-top: 0;
  margin-bottom: 10px;
}
.form-record__coords .google-map__coord-tip {
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
}
.form-record__coords .google-map__coord-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
}
.form-record__coords .google-map__coord-wrapper label {
  margin-bottom: 20px;
}
.form-record__coords .google-map__coord-wrapper input[type="text"] {
  width: 100%;
  margin-top: 5px;
}
.form-record__coords .google-map__coord-wrapper input[readonly] {
  background: #d9d9d9;
}
.form-record__coords .google-map__coord-wrapper input:focus {
  border: 1px solid #c0c0c0;
}
.form-record__coords .google-map__coord-change {
  padding: 5px 10px;
  background: #b3ffff;
  border: 1px solid #5fcbcb;
  border-radius: 20px;
}
.form-record__coords .google-map__coord-change:focus {
  outline: none;
}
.form-record {
  text-align: center;
}
.form-record input[type="submit"] {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.form-record__error-message a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.articles {
  border-top: 1px solid #c1c1c1;
  position: relative;
  min-height: 500px;
}
.articles__item {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 250px;
  box-sizing: border-box;
  margin-left: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  border: 1px solid #c1c1c1;
  background: #c1c1c1;
  background-size: cover;
  vertical-align: top;
  color: white;
  overflow: hidden;
}
.articles__item:hover .item__main {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.articles__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.articles .item__header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}
.articles .item__title {
  margin: 0;
  padding: 5px;
}
.articles .item__date {
  font-size: 13px;
  position: absolute;
  right: 10px;
  top: calc(50% - 7px);
}
.articles .item__description {
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 10%;
  width: 93%;
  padding: 10px;
  margin-left: 3%;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
}
.articles .item__main {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}
.articles .item__wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.articles .item__wrap > span {
  border-radius: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
}
.articles__buttons-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.articles__buttons-nav li {
  border: 1px solid #c1c1c1;
  padding: 10px 20px;
  background: #000;
  color: green;
  transition: all 0.8s;
}
.articles__buttons-nav li.active {
  background: #fff;
  color: red;
}
.articles__buttons-nav li:not(:last-child) {
  border-right: none;
}
.articles__container {
  padding: 20px 0;
}
