body {
  background: #cdfefe;
  font-size: 17px;
  min-width: 600px;
}
.inner {
  max-width: 920px;
  margin: 0 auto;
  padding: 30px 10px 100px 10px;
  background: #ffffff;
}
input {
  box-sizing: border-box;
  padding: 7px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 30px;
}
textarea:focus,
input:focus {
  outline: none;
  border-color: #747474;
}
fieldset.formset {
  margin-bottom: 20px;
  padding: 20px 40px;
  border-radius: 5px;
}
fieldset.formset legend {
  font-size: 19px;
}
fieldset.formset label {
  display: block;
}
fieldset.form-record__private {
  background: #f6f6d5;
}
fieldset.form-record__private > label {
  display: block;
  margin-bottom: 10px;
}
fieldset.form-record__private textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  min-height: 180px;
  border-radius: 10px;
}
fieldset.form-record__private > label,
fieldset.form-record__private > section {
  margin-bottom: 20px;
}
fieldset.form-record__private input {
  margin-left: 10px;
}
.stars {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}
.stars input {
  display: none;
}
.stars label {
  width: 20%;
  height: 50px;
  background: url("../graph/img/CH-Zusatztafel-Mountain-Bike.svg") no-repeat center center;
  opacity: 0.35;
  background-size: 40px;
  transition: transform 0.3s;
}
.stars input[value="1"],
.stars input[value="1"] + label {
  order: 1;
}
.stars input[value="2"],
.stars input[value="2"] + label {
  order: 2;
}
.stars input[value="3"],
.stars input[value="3"] + label {
  order: 3;
}
.stars input[value="4"],
.stars input[value="4"] + label {
  order: 4;
}
.stars input[value="5"],
.stars input[value="5"] + label {
  order: 5;
}
.stars input:checked ~ label {
  opacity: 1;
}
.stars label:hover,
.stars label:hover ~ label {
  transform: scale(1.1);
}
.stars__title {
  display: block;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin-bottom: 10px;
}
.range {
  display: inline-flex;
  flex-wrap: wrap;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
}
.range__title {
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 10px;
}
.range__bar {
  width: 300px;
  height: 25px;
  align-self: center;
  background: lightgrey;
  border-radius: 15px;
  margin-right: 15px;
}
.range__fill {
  position: relative;
  width: 0%;
  height: 100%;
  background: #b3ffff;
  border-radius: 15px;
}
.range__toggle {
  position: absolute;
  top: calc(50% - 14px);
  left: 0;
  width: 12px;
  height: 12px;
  border: 8px solid #1a53ff;
  border-radius: 50%;
  background: #b3ffff;
  cursor: pointer;
}
.range__output {
  width: 75px;
  text-align: center;
}
.form-record__photo {
  background: #f6f6d5;
}
.form-record__photo input {
  margin-left: 10px;
}
.form-record__photo label {
  margin-bottom: 20px;
}
.form-record__photo-container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  min-height: 150px;
  background: white;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
.form-record__photo-container .preview-container {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 140px;
  margin: 0 15px 15px 15px;
}
.form-record__photo-container div.photo-wide {
  width: 160px;
  height: 110px;
}
.form-record__photo-container div.photo-square {
  width: 140px;
  height: 150px;
}
.form-record__photo-container div.photo-tall {
  width: 110px;
  height: 150px;
}
.form-record__photo-container img {
  width: 100%;
  height: 100%;
}
.form-record__photo-container .close-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.3s;
}
.form-record__photo-container .close-btn:hover {
  background: rgba(255, 255, 255, 0.8);
}
.form-record__photo-container .close-btn:after,
.form-record__photo-container .close-btn:before {
  content: "";
  position: absolute;
  left: 2px;
  width: 29px;
  height: 4px;
  background: #000;
  transform-origin: left;
}
.form-record__photo-container .close-btn:after {
  top: 0;
  transform: rotate(45deg);
}
.form-record__photo-container .close-btn:before {
  bottom: 0;
  transform: rotate(-45deg);
}
.form-record__coords {
  background: #f6f6d5;
}
.form-record__coords .google-map {
  display: flex;
  justify-content: space-between;
}
.form-record__coords .google-map__map {
  width: 70%;
  flex-basis: 70%;
  margin-right: 25px;
  min-height: 300px;
  background: grey;
  flex-shrink: 1;
}
.form-record__coords .google-map__coord-title {
  margin-top: 0;
  margin-bottom: 10px;
}
.form-record__coords .google-map__coord-tip {
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
}
.form-record__coords .google-map__coord-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;
  width: 30%;
}
.form-record__coords .google-map__coord-wrapper label {
  flex-basis: 100%;
  margin-bottom: 20px;
}
.form-record__coords .google-map__coord-wrapper input[type="text"] {
  width: 100%;
  margin-top: 5px;
}
.form-record__coords .google-map__coord-wrapper input[readonly] {
  background: #d9d9d9;
}
.form-record__coords .google-map__coord-wrapper input:focus {
  border: 1px solid #c0c0c0;
}
.form-record__coords .google-map__coord-change {
  padding: 5px 10px;
  background: #b3ffff;
  border: 1px solid #5fcbcb;
  border-radius: 20px;
}
.form-record__coords .google-map__coord-change:focus {
  outline: none;
}
.form-record {
  text-align: center;
}
.form-record input[type="submit"] {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.form-record__error-message a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
