body {
  background:#cdfefe;
  font-size: 17px;
  min-width: 600px;
}
.inner {
  max-width: 920px;
  margin: 0 auto;
  padding: 50px 10px 100px 10px;
  background: #ffffff;
}  
h1,
h2,
h3,
h4,
h5,
h6,
p {
}
input {
  box-sizing: border-box;
  padding: 7px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 30px;
}
fieldset.formset {
  margin-bottom: 20px;
  padding: 20px 40px;
  border-radius: 5px;
  legend {
    font-size: 19px;
  }
  label {
    display: block;
  }
}